.setting-info-box {
  text-align: center;
}

.centered {
  margin: auto;
  display: inline-block;
}

.settings-form-container {

}

  .settings-form {
    margin: auto;
    width: 300px;
    margin-top: 30px;
  }

    .settings-form form {
      display: flex;
      flex-direction: column;
    }

@media only screen and (max-width: 600px) {

  .admin-settings-container {
    margin-top: 60px;
  }

  .settings-form {
    width: 280px;
  }
}
