<div class="admin-settings-container">
  <mat-card class="setting-info-box">
    <div class="centered">
      <h1>{{propertyMaintenance.maintenanceName}}</h1>
      <mat-list class="admin-info-container">
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <p mat-line>{{propertyMaintenance.maintenanceEmail}}</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <p mat-line>{{propertyMaintenance.maintenanceNumber}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
  <div class="settings-form-container">
    <mat-card class="settings-form">
      <form [formGroup]="propertyMaintenanceForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput required formControlName="maintenanceName" placeholder="Kiinteistöhuollon nimi">
        </mat-form-field>
        <mat-form-field>
          <input matInput required formControlName="maintenanceEmail" placeholder="Kiinteistöhuollon sähköposti">
        </mat-form-field>
        <mat-form-field>
          <input matInput required formControlName="maintenanceNumber" placeholder="Kiinteistöhuollon numero">
        </mat-form-field>
        <div class="button-row">
          <button [disabled]="!propertyMaintenanceForm.valid || submitted" type="submit" mat-raised-button color="primary">Päivitä tiedot</button>
          <button class="form-button" mat-raised-button color="accent" type="button" (click)="onCancel()">Takaisin</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
