.centered {
    text-align: center;
    margin: 20px 0 46px;
}

.feed-container {
    padding: 20px 20px 0 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.post-container {
    margin-bottom: 20px;
    padding: 30px;
}

.instruction {
    cursor: pointer;
}