<div class="centered">
  <h3>Ilmoitukset ja ohjeet</h3>
</div>
<mat-card class="feed-container">
  <div class="feed-list" *ngIf="posts && posts.length > 0">
    <mat-card class="post-container" *ngFor="let post of posts">
      <mat-card-header>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.createdAt}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{post.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
<div class="file-list">
  <mat-list *ngIf="instructions && instructions.length > 0">
    <h3 mat-subheader>Ohjetiedostot</h3>
    <mat-list-item 
      (click)="onInstructionClick(instruction.file)" 
      class="instruction" 
      *ngFor="let instruction of instructions">
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line>{{instruction.title}}</h4>
      <p mat-line>{{instruction.createdAt}}</p>
    </mat-list-item>
  </mat-list>
</div>