<div class="form-container">
  <div class="property-info">
    <mat-card>
      <a class="breadcrumb" routerLink="/{{propertyId}}">Palvelut</a>
      <span class="breadcrumb">></span>
      <span class="breadcrumb selected">Huoltopyyntö</span>
    </mat-card>
  </div>
  <mat-card class="maintenance-form">
    <h2>Lähetä meille huoltopyyntö</h2>
    <h4>Osoitetiedot:</h4>

    <form [formGroup]="serviceRequestForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Osoite" value="{{property.address}}">
      </mat-form-field>
      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Kaupunki" value="{{property.city}}">
      </mat-form-field>
      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Postinumero" value="{{property.postalCode}}">
      </mat-form-field>

      <mat-form-field class="form-input-xs">
        <input matInput placeholder="Asunto" required formControlName="apartment">
        <mat-hint align="start">Ilmoita rappu ja asunnon numero, esimerkiksi: A 6</mat-hint>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <h4 class="bottom-margin">Yhteystiedot ja kuvaus huollon tarpeesta:</h4>
      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Etunimi Sukunimi" required class="form-control" formControlName="tenantName">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Puhelinnumero" required formControlName="tenantPhone">
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Sähköposti" required formControlName="tenantEmail">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-text">
        <textarea formControlName="description"
          matInput matTextareaAutosize required
          matAutosizeMinRows="5"
          matAutosizeMaxRows="7"
          placeholder="Kuvaus huollon tarpeesta"></textarea>
      </mat-form-field>

      <h4 class="bottom-margin">Kuva:</h4>
      <p>
          <input class="file-input" type="file" (change)="getFile($event.target.files)">
      </p>

      <div class="button-row">
        <button [disabled]="!serviceRequestForm.valid || submitted" type="submit" class="form-button" mat-raised-button color="primary">Lähetä</button>
        <button class="form-button" mat-raised-button color="accent" type="button" (click)="onCancel()">Takaisin</button>
      </div>

    </form>
  </mat-card>
</div>
