<form class="new-post-form-container" [formGroup]="newPostForm" (ngSubmit)="addNewPost(newPostForm)">
  <h2>Tee uusi ilmoitus</h2>
  <mat-form-field class="block">
    <input matInput required formControlName="title" placeholder="Ilmoituksen otsikko">
  </mat-form-field>
  <mat-form-field class="block">
    <textarea 
      matInput 
      required 
      formControlName="content" 
      placeholder="Ilmoituksen viesti"
      rows="6"></textarea>
  </mat-form-field>
  <div class="button-row">
    <button 
      [disabled]="!newPostForm.valid" 
      type="submit"
      mat-raised-button
      color="primary">
      Julkaise ilmoitus
    </button>
    <button mat-raised-button type="button" color="accent" (click)="closeForm()">Peruuta</button>
  </div>
</form>
