<p>
  <ng-container *ngFor="let request of serviceRequests">
    <mat-card>
      <ng-container *ngIf="request.propertyInfo">
        <p>
          <strong>Sijainti:</strong> {{ request.propertyInfo.address }},
          {{ request.propertyInfo.city }}
        </p>
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <ng-container *ngIf="mapOk">
          <agm-map [zoom]="14" [latitude]="request.propertyInfo.latitude" [longitude]="request.propertyInfo.longitude">
            <agm-marker [latitude]="request.propertyInfo.latitude" [longitude]="request.propertyInfo.longitude"></agm-marker>
          </agm-map>
        </ng-container>
      </ng-container>

      <p><strong>Asukas:</strong> {{ request.tenantName }}, {{ request.tenantEmail}}, {{ request.tenantPhone}}</p>

      <p><strong>Viesti:</strong> {{ request.description }}</p>
      <ng-container *ngIf="request.picture"><img max-width="600" src="{{ request.picture }}"></ng-container>

      <ng-container *ngIf="request.validated">
        <p>
          <strong>Tila:</strong>
          <mat-select class="smaller" [(ngModel)]="request.status">
            <mat-option *ngFor="let status of statusList" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
          <button mat-button color="accent" (click)="updateRequestStatus(request)">Vaihda Tila</button>
        </p>
      </ng-container>
      <ng-container *ngIf="!request.validated">
        <p><strong>Tila:</strong> Ei validoitu</p>
      </ng-container>
  

    </mat-card>
    <mat-divider></mat-divider>
  </ng-container>
</p>

