<form [formGroup]="updatePostForm" (ngSubmit)="updatePost(updatePostForm)">
  <h2>Päivitä ilmotuksen tietoja</h2>
  <mat-form-field class="block">
    <input matInput required formControlName="title" placeholder="Ilmoituksen otsikko">
  </mat-form-field>
  <mat-form-field class="block">
    <textarea matInput required formControlName="content" placeholder="Ilmoituksen viesti"></textarea>
  </mat-form-field>
  <div class="button-row">
    <button 
      [disabled]="!updatePostForm.valid" 
      type="submit"
      mat-raised-button
      color="primary">
      Päivitä ilmoitus
    </button>
    <button mat-raised-button type="button" color="accent" (click)="cancelUpdate()">Peruuta</button>
  </div>
</form>
