.maintenance-form {
    display: flex;
    flex-direction: column;
    margin: 20px 30%;
    padding: 20px 70px;
  }
  
  .top-bottom-margin {
    margin: 30px 0;
  }
  
  .breadcrumb {
    font-weight: 300;
    font-size: 14px;
  }
  
  .breadcrumb .selected {
    font-weight: 400;
  }
  
  .maintenance-form h2 {
    padding: 20px 0;
  }
  
  .form-input-sm {
    width: 220px;
  }
  
  .form-input-xs {
    width: 150px;
    margin-bottom: 50px;
  }
  
  .form-input-text {
    margin-top: 20px;
    width: 350px;
  }
  
  .form-button {
    width: 100px;
  }