<form [formGroup]="updatePropertyForm" (ngSubmit)="confirmUpdate(updatePropertyForm)">
  <mat-form-field>
    <input matInput required formControlName="address" placeholder="Kiinteistön osoite">
  </mat-form-field>
  <mat-form-field>
    <input matInput required formControlName="postalCode" placeholder="Postinumero">
  </mat-form-field>
  <mat-form-field>
    <input matInput required formControlName="city" placeholder="Postitoimipaikka">
  </mat-form-field>

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <ng-container *ngIf="mapOk">
    <agm-map [zoom]="defaultZoom" [latitude]="propertyLatitude" [longitude]="propertyLongitude">
      <agm-marker [latitude]="propertyLatitude" [longitude]="propertyLongitude"></agm-marker>
    </agm-map>
  </ng-container>

  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="sauna" (change)="handleSaunaChange($event)">Saunavaraus</mat-slide-toggle>
    </div>
    <mat-form-field>
      <mat-select
        formControlName="saunaStart"
        placeholder="Alkamisaika">
        <mat-option *ngFor="let option of timeOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="saunaEnd"
        placeholder="Päättymisaika">
        <mat-option *ngFor="let option of timeOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="saunaDays" placeholder="Viikonpäivät" multiple>
        <mat-option *ngFor="let option of dayOptions" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="laundry" (change)="handleLaundryChange($event)">Pyykkituvan varaus</mat-slide-toggle>
    </div>
    <mat-form-field>
      <mat-select
        formControlName="laundryStart"
        placeholder="Alkamisaika">
        <mat-option *ngFor="let option of timeOptionsPaired" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="laundryEnd"
        placeholder="Päättymisaika">
        <mat-option *ngFor="let option of timeOptionsPaired" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="laundryDays" placeholder="Viikonpäivät" multiple>
        <mat-option *ngFor="let option of dayOptions" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="maintenance">Vikailmoitus</mat-slide-toggle>
    </div>
  </div>
  <div class="button-row">
    <button [disabled]="!updatePropertyForm.valid" type="submit" mat-raised-button color="primary">Päivitä kiinteistö</button>
  </div>
</form>
