.property-info {
  margin: 20px 0 40px 0;
}

.property-block-container {
  text-align: center;
}

.property-block {
  display: inline-block;
  text-align: left;
}

.gap {
  display: inline-block;
  width: 50px;
}

@media screen and (max-width: 491px) {
  .property-maintenance-title {
    font-size: 20px;
  }

  .gap {
    display: none;
    width: 0;
  }

  .property-block-container {
    text-align: left;
  }
}
