<mat-card class="property-info">
  <div class="property-block-container">
    <h2 class="property-maintenance-title">{{propertyMaintenance.maintenanceName}}</h2>
    <mat-divider></mat-divider>
    <mat-list class="property-block">
      <h3 mat-subheader>Kiinteistön tiedot</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>location_city</mat-icon>
        <p mat-line>{{property.address}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>local_post_office</mat-icon>
        <p mat-line>{{property.postalCode}} {{property.city}}</p>
      </mat-list-item>
    </mat-list>
    <div class="gap"></div>
    <mat-list class="property-block">
      <h3 mat-subheader>Kiinteistöhuollon tiedot</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <p mat-line>{{propertyMaintenance.maintenanceEmail}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <p mat-line>{{propertyMaintenance.maintenanceNumber}}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
