<h1 mat-dialog-title>Kiinteistön poistaminen</h1>
<mat-dialog-content>
  <p>Haluatko varmasti poistaa seuraavan kiinteistön?</p>
  <p><strong>{{property.address}}</strong></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="confirmRemove()">Poista</button>
  <button mat-raised-button (click)="cancelRemove()">Takaisin</button>
</mat-dialog-actions>
