<app-navbar></app-navbar>
<div *ngIf="!property">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="property && propertyMaintenance">

  <ng-container *ngIf="!service">
      <app-property-info [property]="property" [propertyMaintenance]="propertyMaintenance"></app-property-info>
      <div class="page-body">
          <app-service-list class="service-list" [property]="property" [propertyId]="propertyId"></app-service-list>
          <app-info-feed class="info-feed" [propertyId]="propertyId"></app-info-feed>
      </div>
  </ng-container>
  
  <ng-container *ngIf="service == 'maintenance' && property">
      <app-maintenance-form [propertyId]="propertyId" [property]="property"></app-maintenance-form>
  </ng-container>

  <ng-container *ngIf="service == 'sauna' && property">
    <app-sauna-form [propertyId]="propertyId" [property]="property"></app-sauna-form>
  </ng-container>

  <ng-container *ngIf="service == 'laundry' && property">
    <app-laundry-form [propertyId]="propertyId" [property]="property"></app-laundry-form>
  </ng-container>

</div>
