.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.page-body {
  display: flex;
  flex-direction: row;
}

.service-list {
  width: 60%;
}

.info-feed {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .page-body {
    display: flex;
    flex-direction: column;
  }

  .service-list {
    width: 100%;
  }
  
  .info-feed {
    width: 100%;
  }
}
