<div class="admin-init-container">
  <mat-card class="init-info">
    <mat-card-title>Kiinteistöhuollon alustus</mat-card-title>
    <mat-card-content>
      <strong><p>Tervetuloa kiinteistöpalvelun Admin-tilaan!</p></strong>
      <p>Aloita järjestelmän käyttö syöttämällä kiinteistöhuollon tiedot. Uusi kiinteistöhuolto luodaan automaattisesti!</p>
      <p>Luotuasi kiinteistöhuollon pääset muokkaamaan vapaasti siihen kuuluvia kiinteistöjä, sekä niiden palveluita. Voit myös muokata kiinteistöhuollon tietoja.</p>
    </mat-card-content>
  </mat-card>
  <div class="init-form-container">
    <mat-card class="init-form">
      <form [formGroup]="initForm" (ngSubmit)="onSubmit()">
        <h4>Uuden kiinteistöhuollon tiedot</h4>
        <mat-form-field class="init-input">
          <input 
            matInput 
            required 
            formControlName="maintenanceName" 
            placeholder="Kiinteistöhuollon nimi" />
        </mat-form-field>
        <br>
        <mat-form-field class="init-input">
          <input 
            matInput 
            required 
            formControlName="maintenanceEmail" 
            placeholder="Kiinteistöhuollon sähköposti" />
        </mat-form-field>
        <br>
        <mat-form-field class="init-input">
          <input 
            matInput 
            required 
            formControlName="maintenanceNumber" 
            placeholder="Kiinteistöhuollon puhelinnumero" />
        </mat-form-field>
        <div class="button-row">
          <button 
            [disabled]="!initForm.valid || submitted"
            type="submit"
            mat-raised-button
            color="primary">
              Lisää uusi kiinteistöhuolto
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>