
<div class="service-list">
  <div class="centered">
    <h2>Palvelumme</h2>
  </div>
  <div class="service-container">

    <!-- MAINTENANCE SERVICE -->
    <mat-card class="service" *ngIf="property.maintenance == true">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>build</mat-icon></div>
        <mat-card-title>Huoltopyyntö</mat-card-title>
        <mat-card-subtitle>Huoneistossa ilmenneet viat</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="card-content">
          <p>Tee huoltopyyntö, jos havaitset vian huoneistossa, joka vaatii korjausta.</p>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button (click)="onClick('maintenance')" mat-raised-button color="primary">Tee huoltopyyntö</button>
      </mat-card-actions>
    </mat-card>

    <!-- SAUNA RESERVATION -->
    <mat-card class="service" *ngIf="property.sauna == true">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>whatshot</mat-icon></div>
        <mat-card-title>Sauna</mat-card-title>
        <mat-card-subtitle>Varaa saunavuoro</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="card-content">
          <p>Varaa kiinteistöstä saunavuoro. Saunavuoroja voi varata kerralla tunniksi.</p>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button (click)="onClick('sauna')" mat-raised-button color="primary">Tee varaus</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="service" *ngIf="property.laundry == true">
      <mat-card-header>
        <div mat-card-avatar><mat-icon>local_laundry_service</mat-icon></div>
        <mat-card-title>Pyykkitupa</mat-card-title>
        <mat-card-subtitle>Varaa pyykkitupa</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="card-content">
          <p>Varaa kiinteistöstä pyykkitupa.</p>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button (click)="onClick('laundry')" mat-raised-button color="primary">Tee varaus</button>
      </mat-card-actions>
    </mat-card>
  </div>
