.centered {
  text-align: center;
  margin-bottom: 20px;
}

.service-list {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.service-container {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.service {
  margin-bottom: 10px;
}

.card-content {
  min-height: 70px;
  max-height: 70px;
}
