<h1 mat-dialog-title>Ilmoituksen poistaminen</h1>
<mat-dialog-content>
  <p>Haluatko varmasti poistaa seuraavan julkaisun?</p>
  <p><strong>{{data.postTitle}}</strong></p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="confirmDelete()">Poista</button>
  <button mat-raised-button (click)="cancelDelete()">Peruuta</button>
</mat-dialog-actions>
