<div *ngIf="auth.authState | async; else showLogin" class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="admin-toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <span class="toolbar-brand">Kiinteistöpalvelu - Admin</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">Kirjaudu ulos</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" #snav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="navigateTo(false)" mat-list-item>Kiinteistöhuolto</a>
        <a (click)="navigateTo('settings')" mat-list-item>Asetukset</a>
        <a (click)="navigateTo('properties')" mat-list-item>Kiinteistöt</a>
        <a (click)="navigateTo('info-feed')" mat-list-item>Ilmoitustaulut ja ohjeet</a>
        <a (click)="navigateTo('services')" mat-list-item>Palvelut</a>
        <a (click)="navigateTo('servicerequests')" mat-list-item>Palvelupyynnöt</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="loading">
      <div class="loader">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
    </mat-sidenav-content>
    <mat-sidenav-content *ngIf="propertyMaintenance != null && properties != null && !loading" [ngSwitch]="routeValue">
      <app-admin-settings
        [propertyMaintenance]="propertyMaintenance"
        *ngSwitchCase="'settings'"></app-admin-settings>
      <app-admin-properties
        [propertyMaintenance]="propertyMaintenance"
        [properties]="properties"
        *ngSwitchCase="'properties'"></app-admin-properties>
      <app-admin-info-feed
        [properties]="properties"
        *ngSwitchCase="'info-feed'"></app-admin-info-feed>
      <app-admin-services 
        *ngSwitchCase="'services'"
        [properties]="properties"></app-admin-services>
      <app-admin-service-requests *ngSwitchCase="'servicerequests'"></app-admin-service-requests>
      <app-admin-menu *ngSwitchDefault></app-admin-menu>
    </mat-sidenav-content>
    <mat-sidenav-content *ngIf="propertyMaintenance == null && userID != null && !loading">
      <app-admin-init [userID]="userID"></app-admin-init>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #showLogin>
  <h2>Kirjaudu sisään</h2>
  <button mat-raised-button (click)="login()">Kirjaudu</button>
</ng-template>
