.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .admin-toolbar {
  position: fixed;
  z-index: 2;
}

.spacer {
  flex: 1 1;
}

.sidenav {
  flex: 1;
}

.loader {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
}
.spinner {
  display: flex;
  margin: 0 auto;
}

.is-mobile .sidenav {
  flex: 1 0 auto;
}

@media screen and (max-width: 600px) {
  .toolbar-brand {
    font-size: 1em;
  }
}

@media screen and (max-width: 425px) {
  .toolbar-brand {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 375px) {
  .toolbar-brand {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 320px) {
  .toolbar-brand {
    font-size: 0.6em;
  }
}