<form [formGroup]="updateServicesForm" (ngSubmit)="confirmUpdate(updateServicesForm)">
  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="sauna" (change)="handleSaunaChange($event)">Saunavaraus</mat-slide-toggle>
    </div>
    <mat-form-field>
      <mat-select
        formControlName="saunaStart"
        placeholder="Alkamisaika">
        <mat-option *ngFor="let option of timeOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="saunaEnd"
        placeholder="Päättymisaika">
        <mat-option *ngFor="let option of timeOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="saunaDays" placeholder="Viikonpäivät" multiple>
        <mat-option *ngFor="let option of dayOptions" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="laundry" (change)="handleLaundryChange($event)">Pyykkituvan varaus</mat-slide-toggle>
    </div>
    <mat-form-field>
      <mat-select
        formControlName="laundryStart"
        placeholder="Alkamisaika">
        <mat-option *ngFor="let option of timeOptionsPaired" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        formControlName="laundryEnd"
        placeholder="Päättymisaika">
        <mat-option *ngFor="let option of timeOptionsPaired" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="laundryDays" placeholder="Viikonpäivät" multiple>
        <mat-option *ngFor="let option of dayOptions" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="service">
    <div class="service-toggle">
      <mat-slide-toggle formControlName="maintenance">Vikailmoitus</mat-slide-toggle>
    </div>
  </div>
  <div class="button-row">
    <button type="submit" mat-raised-button color="primary">Päivitä kiinteistö</button>
  </div>
</form>
