.property-select-container {
    padding: 20px;
}

.property-select {
    width: 320px;
}

.property-feed-display-container {
    padding: 20px;
}

.add-button {
    margin-bottom: 20px;
}

.post-container {
    margin-bottom: 20px;
}

.instructions {
    margin-bottom: 20px;
}

.instruction {
    width: 200px;
    display: inline-block;
}