<div class="property-select-container">
  <h2>Valitse kiinteistö</h2>
  <mat-select 
    placeholder="Valitse kiinteistö" 
    *ngIf="properties && properties.length > 0" 
    (change)="selectProperty($event)"
    class="property-select">
    <mat-option *ngFor="let property of properties" [value]="property">
      {{property.address}}
    </mat-option>
  </mat-select>
</div>
<div class="property-feed-display-container">
  <div *ngIf="loading == true">
    Loading...
  </div>
  <div class="property-feed-display" *ngIf="loading == false && selectedProperty">
    <h2>{{selectedProperty.address}}</h2>
    <button class="add-button" mat-raised-button color="primary" (click)="openNewPostForm(selectedProperty.id)">Tee uusi ilmoitus</button>
    <button class="add-button" mat-raised-button color="primary" (click)="openNewInstructionForm(selectedProperty.id)">Lisää ohjedokumentti</button>
    <div *ngIf="instructions && instructions.length > 0" class="instructions">
      <h3>Ohjeet</h3>
      <mat-card class="instruction" *ngFor="let instruction of instructions">
        <mat-card-title>{{instruction.title}}</mat-card-title>
        <mat-card-subtitle>{{instruction.createdAt}}</mat-card-subtitle>
        <mat-card-content>
          <mat-icon>insert_drive_file</mat-icon>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button color="primary" href="{{instruction.file}}" target="_blank">Esikatsele</a>
          <button mat-button color="warn" (click)="openRemoveInstructionForm(instruction)">Poista</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="posts && posts.length > 0">
      <h3>Ilmoitukset</h3>
      <mat-card class="post-container" *ngFor="let post of posts">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.createdAt}}</mat-card-subtitle>
        <mat-card-content>{{post.content}}</mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="openUpdatePostForm(post)">Muokkaa</button>
          <button mat-button color="warn" (click)="openRemovePostForm(post)">Poista</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
