<div class="admin-menu-container">
  <mat-card class="admin-menu-item">
    <mat-card-title><mat-icon>build</mat-icon> Asetukset</mat-card-title>
    <mat-card-subtitle>Kiinteistöhuollon tietojen hallinta</mat-card-subtitle>
    <mat-card-content class="admin-menu-content">Muokkaa kiinteistöhuoltosi asetuksia ja muokkaa asukkaille näkyviä tietoja.</mat-card-content>
    <mat-card-actions>
      <button (click)="navigateTo('settings')" mat-raised-button color="accent">Siirry</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="admin-menu-item">
    <mat-card-title><mat-icon>business</mat-icon> Kiinteistöt</mat-card-title>
    <mat-card-subtitle>Kiinteistöjen hallinta</mat-card-subtitle>
    <mat-card-content class="admin-menu-content">Lisää ja poista kiinteistöjä.</mat-card-content>
    <mat-card-actions>
      <button (click)="navigateTo('properties')" mat-raised-button color="accent">Siirry</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="admin-menu-item">
    <mat-card-title><mat-icon>assignment</mat-icon> Ilmoitustaulut ja ohjeet</mat-card-title>
    <mat-card-subtitle>Kiinteistöjen ilmoitustaulut ja ohjedokumentit</mat-card-subtitle>
    <mat-card-content class="admin-menu-content">Muokkaa kiinteistöjen asukkaille näkyviä ilmoituksia.</mat-card-content>
    <mat-card-actions>
      <button (click)="navigateTo('info-feed')" mat-raised-button color="accent">Siirry</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="admin-menu-item">
    <mat-card-title><mat-icon>room_service</mat-icon> Palvelut</mat-card-title>
    <mat-card-subtitle>Palveluiden hallinta</mat-card-subtitle>
    <mat-card-content class="admin-menu-content">Hallinnoi kiinteistöjen palveluita</mat-card-content>
    <mat-card-actions>
      <button (click)="navigateTo('services')" mat-raised-button color="accent">Siirry</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="admin-menu-item">
    <mat-card-title><mat-icon>library_books</mat-icon> Palvelupyynnöt</mat-card-title>
    <mat-card-subtitle>Palvelupyyntöjen seuranta</mat-card-subtitle>
    <mat-card-content class="admin-menu-content">Tarkastele saatuja palvelupyyntöjä</mat-card-content>
    <mat-card-actions>
      <button (click)="navigateTo('servicerequests')" mat-raised-button color="accent">Siirry</button>
    </mat-card-actions>
  </mat-card>
</div>
