.admin-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 150px;
}

.admin-menu-item {
  width: 280px;
  margin: 30px;
}

.admin-menu-content {
  height: 70px;
}

@media screen and (max-width: 1440px) {
  .admin-menu-container {
    padding: 50px;
  }
}

@media screen and (max-width: 876px) {
  .admin-menu-container {
    padding: 10px;
  }

  .admin-menu-item {
    width: 280px;
    margin: 10px;
  }
}

@media screen and (max-width: 716px) {
  .admin-menu-container {
    padding: 10px;
  }

  .admin-menu-item {
    width: 250px;
    margin: 10px;
  }
}

@media screen and (max-width: 656px) {
  .admin-menu-container {
    padding: 10px;
  }

  .admin-menu-item {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 656px) {
  .admin-menu-container {
    padding: 80px 10px 10px 10px;
  }
}
