<div class="form-container">
  <div class="property-info">
    <mat-card>
      <a class="breadcrumb" routerLink="/{{propertyId}}">Palvelut</a>
      <span class="breadcrumb">></span>
      <span class="breadcrumb selected">Saunan varaus</span>
    </mat-card>
  </div>
  <mat-card class="maintenance-form">
    <h2>Varaa sauna</h2>
    <h4>Osoitetiedot:</h4>

    <form [formGroup]="saunaForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Osoite" value="{{property.address}}">
      </mat-form-field>
      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Kaupunki" value="{{property.city}}">
      </mat-form-field>
      <mat-form-field class="form-input-sm">
        <input matInput disabled placeholder="Postinumero" value="{{property.postalCode}}">
      </mat-form-field>

      <mat-form-field class="form-input-xs">
        <input matInput placeholder="Asunto" required formControlName="apartment">
        <mat-hint align="start">Ilmoita rappu ja asunnon numero, esimerkiksi: A 6</mat-hint>
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <h4 class="bottom-margin">Yhteystiedot ja saunavarauksen ajankohta:</h4>
      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Etunimi Sukunimi" required class="form-control" formControlName="tenantName">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Puhelinnumero" required formControlName="tenantPhone">
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-sm">
        <input matInput placeholder="Sähköposti" required formControlName="tenantEmail">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-input-sm">
        <input 
          matInput
          [min] = "minDate"
          [max] = "maxDate"
          [matDatepickerFilter]="dayFilter"
          required formControlName="saunaDay"
          [matDatepicker]="picker"
          placeholder="Valitse päivä"
          (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          formControlName="saunaStart"
          placeholder="Valitse aika"
          required>
          <mat-option *ngFor="let timeSlot of validHours" [disabled]="!timeSlot.free" [value]="timeSlot.start">
            {{timeSlot.start}} - {{timeSlot.end}} {{timeSlot.free ? "" : "(Varattu)"}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="button-row">
        <button [disabled]="!saunaForm.valid || submitted" type="submit" class="form-button" mat-raised-button color="primary">Lähetä</button>
        <button class="form-button" mat-raised-button color="accent" type="button" (click)="onCancel()">Takaisin</button>
      </div>

    </form>
  </mat-card>
</div>
