/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
}
