.property-select-container {
    padding: 20px;
}

.property-select {
    width: 320px;
}

.property-container {
    margin: 20px;
    width: 320px;
}

@media screen and (max-width: 600px) {
    .property-select-container {
        margin-top: 50px;
    }
} 

@media screen and (max-width: 400px) {
    .property-container {
        margin: 0;
        width: 100%;
    }
} 