<div class="property-select-container">
  <h2>Valitse kiinteistö</h2>
  <mat-select
    class="property-select"
    placeholder="Valitse kiinteistö"
    *ngIf="properties && properties.length > 0"
    (change)="selectProperty($event)">
    <mat-option *ngFor="let property of properties" [value]="property">
      {{property.address}}
    </mat-option>
  </mat-select>
</div>
<div *ngIf="selectedProperty">
  <mat-card class="property-container">
    <mat-card-title>{{this.selectedProperty.address}}</mat-card-title>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Palvelut</h3>
        <mat-list-item *ngIf="selectedProperty.sauna == true">
          <mat-icon mat-list-icon>whatshot</mat-icon>
          <h4 mat-line>Sauna</h4>
        </mat-list-item>
        <mat-list-item *ngIf="selectedProperty.laundry == true">
          <mat-icon mat-list-icon>local_laundry_service</mat-icon>
          <h4 mat-line>Pyykkitupa</h4>
        </mat-list-item>
        <mat-list-item *ngIf="selectedProperty.maintenance == true">
          <mat-icon mat-list-icon>build</mat-icon>
          <h4 mat-line>Huolto</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button 
        mat-raised-button
        color="primary"
        (click)="openUpdateServicesForm(selectedProperty)">Muokkaa palveluita</button>
    </mat-card-actions>
  </mat-card>
</div>