<form [formGroup]="newInstructionForm" (ngSubmit)="addNewInstruction(newInstructionForm)">
  <h2>Lisää uusi ohjedokumentti</h2>
  <mat-form-field>
    <input matInput required formControlName="title" placeholder="Tiedoston nimi">
  </mat-form-field>
  <h4>Tiedosto</h4>
  <p>
    <input class="file-input" type="file" (change)="getFile($event.target.files)">
  </p>
  <div class="button-row">
    <button
      [disabled]="!newInstructionForm.valid"
      type="submit"
      mat-raised-button
      color="primary">
      Julkaise ohje
    </button>
    <button mat-raised-button type="button" color="accent" (click)="closeForm()">Peruuta</button>
  </div>
</form>
