<div *ngIf="properties">
  <div class="properties-container">
    <div class="admin-properties-actions">
      <h2>Toiminnot</h2>
      <button *ngIf="!newPropertyFormVisible" mat-raised-button color="primary" (click)="toggleNewPropertyForm(true)">Lisää kiinteistöjä</button>
      <button *ngIf="newPropertyFormVisible == true" mat-raised-button color="accent" (click)="toggleNewPropertyForm(false)">Piilota</button>
    </div>
    <app-property-new *ngIf="newPropertyFormVisible == true" [propertyMaintenance]="propertyMaintenance"></app-property-new>
    <div class="admin-properties">
      <h2>Kiinteistöt</h2>
      <div class="admin-properties-container">
        <mat-card *ngFor="let property of properties" class="admin-property">
          <mat-card-title>{{property.address}}</mat-card-title>
          <mat-card-subtitle>{{property.postalCode}} {{property.city}}</mat-card-subtitle>
          <qr-code [value]="serverAddress+'/'+property.id" [size]="100"></qr-code><br>
          <a mat-raised-button color="primary" class="custom-link" href="{{serverAddress}}/{{property.id}}" target="blank">
            Esikatsele
          </a>
          <mat-card-content>
            <mat-list>
              <h3 mat-subheader>Palvelut</h3>
              <mat-list-item *ngIf="property.sauna == true">
                <mat-icon mat-list-icon>whatshot</mat-icon>
                <h4 mat-line>Sauna</h4>
              </mat-list-item>
              <mat-list-item *ngIf="property.laundry == true">
                <mat-icon mat-list-icon>local_laundry_service</mat-icon>
                <h4 mat-line>Pyykkitupa</h4>
              </mat-list-item>
              <mat-list-item *ngIf="property.maintenance == true">
                <mat-icon mat-list-icon>build</mat-icon>
                <h4 mat-line>Huolto</h4>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions class="footer">
            <button mat-button color="primary" (click)="openUpdateDialog(property)">Muokkaa</button>
            <button mat-button color="warn" (click)="openRemoveDialog(property)">Poista</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="admin-property-info">

    </div>
  </div>
</div>
