.admin-properties-actions {
  width: 100%;
  display: block;
  padding: 20px;
}

.admin-properties-actions button {
  margin: 10px;
}

.admin-properties {
  padding: 20px;
}

.admin-properties-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.admin-property {
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.custom-link {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {

  .properties-container {
    margin-top: 60px;
  }

}

@media screen and (max-width: 425px) {

  .admin-properties-container {
    padding: 0;
  }

  .admin-property {
    margin: 0 0 10px 0;
  }

  .properties-container {

  }

}